.roadmap-main {
    display: flex;
    padding-top: 7%;
    font-family: Monteserat;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.vertical-timeline-element-title {
    font-family: RetroBit;
    word-spacing: 3px;
}

.vertical-timeline-element-subtitle {
    font-family: RetroBit;
}

p {
    font-family: RetroBit;
}